header nav {
  display: flex !important;
}
header nav a {
  width: 15%;
}
header nav a img {
  height: 2.5rem;
  padding: 0;
}
header nav a:hover {
  color: #F4462F !important;
}
header nav ul {
  margin: 0;
  width: 45%;
}
header nav ul a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  font-weight: 900;
  color: #00415D;
  padding: 0.5rem 0.4rem !important;
}
header nav #menuBarBTN {
  cursor: pointer;
}
header nav #menuBarBTN i {
  color: #00415D;
  transition: all 0.4s ease-in-out;
}
header nav #menuBarBTN i:hover {
  color: #F4462F;
}
header nav .call-box {
  position: fixed;
  top: 0;
  right: 0;
  height: inherit;
}
header nav .call-box span i {
  font-size: 2rem !important;
  padding: 1.1rem;
  background-color: #00415D;
  color: whitesmoke;
}
header nav .call-box .question {
  padding: 0.54rem 1.5rem;
  background-color: #F4462F;
}
header #carouselExampleCaptions .carousel-caption-wrapper {
  position: absolute;
  top: 10%;
  left: 0;
  width: 40%;
  text-align: center;
  color: aliceblue;
}
header #carouselExampleCaptions .carousel-caption-wrapper h1 {
  font-size: 1rem;
  font-weight: 700;
}
header #carouselExampleCaptions .carousel-caption-wrapper p {
  font-size: 0.5rem;
  font-weight: 200;
  color: #cacaca;
}
header #carouselExampleCaptions .carousel-control-wrapper {
  position: absolute;
  bottom: -15%;
  left: -15%;
  background-color: #222222;
  width: 25%;
  height: 50%;
  border-radius: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  border: 2px solid #F4462F;
}
header #carouselExampleCaptions .carousel-control-wrapper .carousel-control-prev {
  position: static;
  display: inline-block;
}
header #carouselExampleCaptions .carousel-control-wrapper .carousel-control-next {
  position: static;
  display: inline-block;
}
@media screen and (max-width: 992px) {
  header header nav a {
    width: 12% !important;
  }
  header header nav ul {
    width: 25% !important;
  }
}
@media screen and (min-width: 768px) {
  #carouselExampleCaptions .carousel-caption-wrapper h1 {
    font-size: 3rem !important;
    font-weight: 700;
  }
  #carouselExampleCaptions .carousel-caption-wrapper p {
    font-size: 1.5rem !important;
    font-weight: 200;
  }
}
