header nav {
  display: flex !important;
}
header nav a {
  width: 15%;
}
header nav a img {
  height: 2.5rem;
  padding: 0;
}
header nav a:hover {
  color: #F4462F !important;
}
header nav ul {
  margin: 0;
  width: 45%;
}
header nav ul a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  font-weight: 900;
  color: #00415D;
  padding: 0.5rem 0.4rem !important;
}
header nav #menuBarBTN {
  cursor: pointer;
}
header nav #menuBarBTN i {
  color: #00415D;
  transition: all 0.4s ease-in-out;
}
header nav #menuBarBTN i:hover {
  color: #F4462F;
}
header nav .call-box {
  position: absolute;
  top: 0;
  right: 0;
  height: inherit;
}
header nav .call-box span i {
  font-size: 2rem !important;
  padding: 1.1rem;
  background-color: #00415D;
  color: whitesmoke;
}
header nav .call-box .question {
  padding: 0.54rem 1.5rem;
  background-color: #F4462F;
}
header #carouselExampleCaptions .carousel-caption-wrapper {
  position: absolute;
  top: 10%;
  left: 0;
  width: 40%;
  text-align: center;
  color: aliceblue;
}
header #carouselExampleCaptions .carousel-caption-wrapper h1 {
  font-size: 1rem;
  font-weight: 700;
}
header #carouselExampleCaptions .carousel-caption-wrapper p {
  font-size: 0.5rem;
  font-weight: 200;
  color: #cacaca;
}
header #carouselExampleCaptions .carousel-control-wrapper {
  position: absolute;
  bottom: -15%;
  left: -15%;
  background-color: #222222;
  width: 25%;
  height: 50%;
  border-radius: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  border: 2px solid #F4462F;
}
header #carouselExampleCaptions .carousel-control-wrapper .carousel-control-prev {
  position: static;
  display: inline-block;
}
header #carouselExampleCaptions .carousel-control-wrapper .carousel-control-next {
  position: static;
  display: inline-block;
}
main .sponser-wrapper h1 {
  color: #F4462F;
}
main .services-section .row .col-lg-12 .section-title {
  text-align: center;
  margin: 4.5rem !important;
}
main .services-section .row .col-lg-12 .section-title h2 {
  font-size: 3rem;
  font-weight: 900;
  color: #00415D;
}
main .services-section .row .col-lg-12 .section-title img {
  margin: 1rem auto;
}
main .services-section .row2 {
  margin-bottom: 15rem;
}
main .services-section .row2 .services-1-wrapper,
main .services-section .row2 .services-2-wrapper,
main .services-section .row2 .services-3-wrapper {
  position: relative;
}
main .services-section .row2 .services-1-wrapper div.text-center,
main .services-section .row2 .services-2-wrapper div.text-center,
main .services-section .row2 .services-3-wrapper div.text-center {
  width: 100%;
  background-color: #F4462F;
  padding: 1rem 0;
  margin: 1rem 0;
}
main .services-section .row2 .services-1-wrapper div.text-center h1,
main .services-section .row2 .services-2-wrapper div.text-center h1,
main .services-section .row2 .services-3-wrapper div.text-center h1 {
  padding: 2rem 0;
  margin-bottom: 10rem;
  color: whitesmoke;
}
main .services-section .row2 .services-1-wrapper div.text-center div,
main .services-section .row2 .services-2-wrapper div.text-center div,
main .services-section .row2 .services-3-wrapper div.text-center div {
  max-width: 80%;
  position: absolute;
  bottom: -10rem;
  right: 0.9rem;
  background-color: #f8f8f8 !important;
  padding-bottom: 2rem !important;
}
main .services-section .row2 .services-1-wrapper div.text-center div img,
main .services-section .row2 .services-2-wrapper div.text-center div img,
main .services-section .row2 .services-3-wrapper div.text-center div img {
  width: 100%;
}
main .services-section .row2 .services-1-wrapper div.text-center div h3,
main .services-section .row2 .services-2-wrapper div.text-center div h3,
main .services-section .row2 .services-3-wrapper div.text-center div h3 {
  padding: 1rem 1rem 0 1rem;
  color: #F4462F;
}
main .services-section .row3 .service-footer h2 {
  color: #00415D;
}
main .services-section .row3 .service-footer p {
  color: #455359;
}
main .services-section .row3 .service-footer button {
  padding: 1rem 2rem;
  border: 2px solid #F4462F;
  background-color: #fff;
  border-radius: 10%;
  margin: 3rem 0 8rem 0;
  font-size: 1.2rem;
  font-weight: 800;
  color: #F4462F;
  transition: all 0.4s ease-in-out;
}
main .services-section .row3 .service-footer button:hover {
  background-color: #F4462F;
  color: whitesmoke;
}
main .consult-section {
  width: 100%;
  background-color: #f6f9ff;
  overflow: hidden;
  position: relative;
}
main .consult-section .container {
  padding: 5rem 0;
}
main .consult-section .container .row {
  justify-content: space-between;
}
main .consult-section .container .row .col-lg-5 {
  margin-bottom: 6rem;
}
main .consult-section .container .row .col-lg-5 consult-img {
  position: relative;
  text-align: center;
}
main .consult-section .container .row .col-lg-5 .img-meta {
  position: absolute;
  right: 1.9rem;
  bottom: -6rem;
  background: #F4462F;
  width: fit-content;
  float: right;
  padding: 0.5rem 3rem;
  border-radius: 0 0 20px 20px;
  text-align: center;
  z-index: 0;
  color: whitesmoke;
}
main .consult-section .container .row .col-lg-7 .consult-text {
  margin: 0 auto;
  max-width: 85%;
}
main .consult-section .container .row .col-lg-7 .consult-text h1 {
  margin-bottom: 2rem;
}
main .consult-section .container .row .col-lg-7 .consult-text p {
  line-height: 25px;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
main .consult-section .container .row .col-lg-7 .consult-text button {
  padding: 0.9rem 1.3rem;
  border: 2px solid #F4462F;
  border-radius: 5%;
  background-color: #f6f9ff;
  color: #F4462F;
  transition: all 0.4s ease-in-out;
}
main .consult-section .container .row .col-lg-7 .consult-text button:hover {
  background-color: #F4462F;
  color: #f6f9ff;
}
main .consult-section::before {
  background: url(../images/tp1.png) no-repeat left top;
  width: 20%;
  position: absolute;
  left: 0px;
  top: 0px;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 0;
}
main .consult-section::after {
  background: url(../images/tp2.png) no-repeat right bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 20%;
  height: 100%;
  z-index: 0;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  header nav a {
    width: 12% !important;
  }
  header nav ul {
    width: 25% !important;
  }
  main .sponser-wrapper h1 {
    font-size: 1.5em;
  }
  main .row2 {
    margin-bottom: 5rem !important;
  }
  main .row2 .services-1-wrapper,
  main .row2 .services-2-wrapper,
  main .row2 .services-3-wrapper {
    margin-bottom: 15rem !important;
  }
  main .row2 .services-1-wrapper .text-center div,
  main .row2 .services-2-wrapper .text-center div,
  main .row2 .services-3-wrapper .text-center div {
    bottom: -15rem !important;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .row .services-1-wrapper div.text-center div,
  .row .services-2-wrapper div.text-center div,
  .row .services-3-wrapper div.text-center div {
    max-width: 88% !important;
    bottom: -7rem !important;
    background-color: aqua !important;
  }
}
@media screen and (min-width: 768px) {
  #carouselExampleCaptions .carousel-caption-wrapper h1 {
    font-size: 3rem !important;
    font-weight: 700;
  }
  #carouselExampleCaptions .carousel-caption-wrapper p {
    font-size: 1.5rem !important;
    font-weight: 200;
  }
}
